body {
  margin: 0;
  padding: 0;
}

.imagen {
  width: 500px;
  height: 500px;
  padding: 10px;
  border: 1px dashed black;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
