body {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url('bosque.jpg');
  background-size: cover;
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.image {
  width: 100%;
  height: 100%;
}

.blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.circle {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: border-radius 1s;
}

.circle-1 {
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  background-color: rgba(0, 0, 0, 0.7);
}

.circle-2 {
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  background-color: rgba(0, 0, 0, 0.9);
}

.circle-3 {
  height: 100%;
  width: 100%;
  transition: border-radius 0.8s;
  background: transparent;
  background-image: url('nieve.jpg');
  background-size: cover;
}

.circle.ready {
  border-radius: 0;
}

.harry {
  width: 280px;
  height: 280px;
  background: url('harry.jpg');
  background-size: cover;
  transition: 1s cubic-bezier(1, -1, 0, 2);
  /*clip-path: polygon(50% 5%, 0% 100%, 100% 100%);*/
  clip-path: circle(50% at 50% 50%);
}

.harry:hover {
  clip-path: circle(100% at 50% 50%);
  /*clip-path: polygon(50% 19%, 0 76%, 100% 76%);*/
}
