@import '../../styles/colors';

$header-height: 100px;

.wb-header {
  align-items: center;
  box-shadow: 0 6px 24px 0 $gray;
  display: flex;
  height: $header-height;
  padding: 0 30px;

  .wb-header-icon {
    &:not(:first-child):not(:last-child) {
      margin-right: 30px;
    }
  }
}

.wb-header-logo {
  content: url('../../assets/wbooks_logo.svg');
  height: 50px;
  margin-right: auto;
}

.wb-notifications-icon {
  content: url('../../assets/notifications.svg');
  height: 30px;
}

.wb-suggest-icon {
  content: url('../../assets/add_book.svg');
  height: 30px;
}

.wb-profile-avatar {
  content: url('../../assets/default_book.svg');
  height: 40px;
}
